{% extends 'EmailTemplateBundle::layout.html.twig' %}

{% block page_title %}{{ name ? 'Edit' : 'Add' }} Email Template{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.from) }}
            {#{{ form_row(form.cc) }}#}
            {#{{ form_row(form.bcc) }}#}
            {{ form_row(form.subject) }}
            {{ form_row(form.htmlBody) }}
            {{ form_row(form.txtBody) }}
            {{ form_widget(form.save) }}
            {{ form_widget(form.cancel) }}
            {{ form_end(form) }}
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Available Tokens</h3>
                </div>
                <table class="table table-condensed table-striped">
                    {% for token, desc in tokens %}
                        <tr>
                            <th>{% verbatim %}{{{% endverbatim %}{{ token }}{% verbatim %}}}{% endverbatim %}</th>
                            <td>{{ desc }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
